<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

 <body>
 <div class="main text-white p-10 w-full min-h-fullscreen bg-zinc-900">
  <a class="text-blue-500 bg-zinc-900 mb-10" href="/">go back to home</a>
<h1 class="text-4xl text-white text-center bg-zinc-900"><%= filename %></h1>
<p class="text-xl text-white font-light bg-zinc-900"> <%=filedata %></p>
   </div>
</body> 
</html>